<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="trung" translate="label" sortOrder="10">
            <label>Trung</label>
        </tab>

        <!-- section -->
       <section id="mycustomsection" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Custom Section</label>
        <tab>trung</tab>
        <resource>Trung_BaiTapLayout::baitaplayout_config</resource>

        <!-- config sidebar -->
        <group id="mycustomsidebargroup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Config sidebar content</label>
             <field id="mycustomsidebarcontent" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Content Sidebar Enable</label>
                <comment>Enable or disable the content sidebar</comment>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
        </group>

        <!-- config title -->
        <group id="mycustomtitlegroup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Config Title</label>
             <field id="mycustomtitleenable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Title Enable</label>
                <comment>Enable or disable the text title</comment>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="mycustomtitle" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Title</label>
                <validate>validate-number</validate>
                <frontend_class>validate-number</frontend_class>
                <comment>This is a custom title</comment>
            </field>
        </group>

        <!-- config max quantity items -->
        <group id="mycustomquantitygroup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Config Quantity Items</label>
            <field id="mycustomquantitynumber" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom max quantity items</label>
                <comment>This is a max quantity items</comment>
            </field>
        </group>
       </section>
    </system>
</config>