<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Trung_HelloWorld::custom_menu" title="custom menu" sortOrder="51">
                    <resource id="Trung_HelloWorld::submenu" title="sub menu" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>