<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="trung_baitaplayout_table_listing_data_source" xsi:type="string">Trung\BaiTapLayout\Model\ResourceModel\Trung\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Trung\BaiTapLayout\Model\ResourceModel\Trung\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">my_module_my_table</argument>
            <argument name="resourceModel" xsi:type="string">Trung\BaiTapLayout\Model\ResourceModel\Trung</argument>
        </arguments>
    </virtualType>
</config>